[Unit]
Description=Twitter Snap WebUI
Wants=network-online.target

After=syslog.target network.target nss-lookup.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/yuki/project/twitter-snap-webui
ExecStart=/usr/local/bin/pnpm run start
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s INT $MAINPID
Restart=always
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=testapp

[Install]
WantedBy=multi-user.target